<aside class="float-sm-right border border-secondary p-sm-1 ml-md-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="./" class="nav-link" routerLinkActive="active">Code Cookbook</a>
    </li>
    <li class="nav-item">
      <a routerLink="./vscode" class="nav-link" routerLinkActive="active">VS Code</a>
    </li>
    <li class="nav-item">
      <a routerLink="./git" class="nav-link" routerLinkActive="active">Git</a>
    </li>
    <li class="nav-item">
      <a routerLink="./npm" class="nav-link" routerLinkActive="active">NPM</a>
    </li>
  </ul>
</aside>
<section class="container-fluid">
  <router-outlet></router-outlet>
</section>
